---
import { BackgroundImage } from 'astro-imagetools/components'

import cls from './Hero.module.scss'
---

<div class={cls.wrapper}>
  <BackgroundImage src='/images/hero/hero.webp'>
    <div class={cls.container}>
      <h1 class={cls.title}>We have been producing oil since 1997</h1>
      <p class={cls.description}>
        We produce over 1600 tons of refined deodorized oil per day at seven
        factories
      </p>
      <button class={cls.btn}>All Products</button>
    </div>
  </BackgroundImage>
</div>
